#table {
    background-color: #0d1117;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 660px) {
    #table {
        width: 550px;
    }
}

td {
    vertical-align: middle;
}

#table-div {
    overflow-x: auto;
    color-scheme: dark;
}
